<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850116129107-f640pn955ifrue26lphr0qh8pq82bbl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850116129107-f640pn955ifrue26lphr0qh8pq82bbl8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850116129107-86sdvh1fadh1m082fsrkek67do8ar49l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCclRyT7ppNXMilr8rEMmR_Vuegr-CnCAI</string>
	<key>GCM_SENDER_ID</key>
	<string>850116129107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cineverse</string>
	<key>PROJECT_ID</key>
	<string>cineverse-70e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>cineverse-70e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850116129107:ios:147ce0b24747a5212131a6</string>
</dict>
</plist>